{{template "base" .}}

{{define "content"}}
<div class="d-flex align-items-center flex-column gap-2">
    <div>
        <h1>{{.Name }}</h1>
    </div>
    <div style="min-height: 100px;">
        <img src="{{.Sprites.FrontDefault}}" alt="image of pokemon">
    </div>
    <p>Weight: {{.Weight}}Kg</p>
    <p>Height: {{.Height}}M</p>
    <p>Base experience: {{.BaseExperience}}p</p>

    <h3>Games:</h3>

    <ul>
        {{range .GameIndices}}
        <li>
            {{.Version.Name}}
        </li>
        {{end}}
    </ul>
</div>


{{end}}